/* designing the header*/
header {
    background-color: cadetblue;
    text-align: center;
}
* {
    margin: 0;
    box-sizing: border-box;
}
nav {
    margin: 0 auto 2rem;
    max-width: 100%;
    background-color: #333;
    align-items: center;
    
}

nav ul li a {
    flex: 1 1 100%;
    display: block;
    color: #eee;
    text-decoration: none;
    padding: 0.75rem;
    text-align: center;
}

nav ul li a:hover, a:focus, a:active {
    font-weight: 700;
    text-decoration: overline;
    text-decoration-color: brown;
}

nav li {
    flex: 1 1 auto;
}
nav ul {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    align-items: center;
    
}

/*designing the body*/
main {
    display: grid;
    background-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;    
}
.card {
    border: solid #333;
    border-radius: 0.5em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    background-color: bisque;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    
}

section li:hover {
    color: #333;
    text-decoration: none;
    list-style: circle;
    a {
        color: #394b04;
    }
}

.about-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    padding: 1rem;
    line-height: 1.5em;
}

.about-content img {
    width: 150px;
    height: auto;
    border-radius: 10%;
}


.move {
    grid-column: 2 / 3;
    line-height: 1.5em;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    padding: auto;
    text-align: center;
}

.links-under-section-2 {
    padding: 5em;
}

/*designing the footer*/
footer {
    text-align: center;
    background-color: #333;
    color: white;
    border-top: red solid;
    padding: 1em;

}



@media screen and (max-width:600px) {
    main, .card {
        display: block;
    }
    
}